@import url('https://fonts.googleapis.com/css?family=Merriweather:900,900i');

.container {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 414px;
  background-color: white;
  position: relative;
}

.timers {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.timers section {
  height: 50vh;
  font-size: 72px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
  width: 100%;
  color: black;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -webkit-radial-gradient(top left,#ffffff,#bebebe);
  background: -o-radial-gradient(top left,#ffffff,#bebebe);
  background: -moz-radial-gradient(top left,#ffffff,#bebebe);
  background: radial-gradient(top left, #ffffff, #bebebe);
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
}

.flipTime1{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: transform .4s;
  -moz-transition: transform .4s;
  -ms-transition: transform .4s;
  transition: transform .4s;
}

.timers section.black-bg {
  background: -webkit-radial-gradient(top right,#0c0b0b,#515151);
  background: -o-radial-gradient(top right,#0c0b0b,#515151);
  background: -moz-radial-gradient(top right,#0c0b0b,#515151);
  background: radial-gradient(top right, #0c0b0b, #515151);
  color: white;
}

/*media queries*/
@media screen and (min-width: 321px) {
  .timers section {
    font-size: 80px;
  }
}
